body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    flex-grow: 1; /* Asegura que el contenido del main ocupe todo el espacio disponible */
    margin: 20px;
    text-align: center;
    padding-bottom: 100px; /* Asegura espacio para que no se superponga con el footer */
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #4CAF50;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto; /* Centra la lista */
    display: inline-block; /* Asegura que la lista se comporte como un bloque en línea */
    text-align: center; /* Alinea el texto a la izquierda */
}

ul li {
    background-color: #e7e7e7;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    width: 100%; /* Asegura que los elementos de la lista tengan el mismo ancho */
    max-width: 400px; /* Limita el ancho de los elementos de la lista */
    word-wrap: break-word;
    text-align: center; /* Asegura que el texto esté alineado a la izquierda */
}

article {
    background-color: #e7e7e7;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.chat-section button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.chat-section button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    margin-top: auto; /* Esto asegura que el footer esté al final del contenido */
}
